$pink: #E95389;
$l-pink: #F35E94;
$d-gray: #4D4D4D;
$m-gray: #707070;
$l-gray: #C1C1C1;
$ll-gray: #F1F1F1;
$lll-gray: #F8F8F8;
$bg-gray: #F2F2F2;
$red: #D50000;
$green: #00B900;
$t-blue: #00BCC9;

$red-1:    #fabbbb;
$red-2:    #e34d4d;
$red-3:    #ac1616;
$yellow-1: #fff9ba;
$yellow-2: #e7db50;
$yellow-3: #b6a806;
$blue-1:   #bfe7ff;
$blue-2:   #379ad8;
$blue-3:   #0b69a4;
$gree-1:   #bbfae3;
$gree-2:   #39c995;
$gree-3:   #16ac76;

$gray-1:   #f1f1f1;
$gray-2:   #e2e2e2;
$gray-3:   #d4d4d4;
$gray-4:   #b9b9b9;
$gray-5:   #9e9e9e;
$gray-6:   #848484;
$gray-7:   #6a6a6a;
$gray-8:   #474747;
$gray-9:   #1b1b1b;
