@mixin o-set(){

	/* 
		2022/12/07 - by ossian
		
		新增 .o-set，目的如下：
		1. 重建一些被 reset 清除的標籤樣式，方便企劃人員日後的維護。

		目前受影響的頁面如下：
		1. privacy.html         2022/12/08
		2. cs_privacy.html      2022/12/08
		3. news-index.html      2023/01/09
		4. news-content.html    2023/01/09
		5. cs_privacy.html      2023/01/09
		6. point_index.html     2023/11/07
		7. point_index_2.html   2023/11/08

	*/

	.o-set{
		color: $m-gray;
		line-height: 1.15;
		word-break: break-all;
		ul, ol{
			margin: 1em 1em 1em 2em;
			padding: initial;
			line-height: 150%;
			list-style: initial;
			&.none{
				margin: 0;
				padding: 0;
				list-style: none;
			}
		}
		p{
			color: unset;
			line-height: 150%;
			text-align: justify;
		}
		// 恢復標題的大小
		h1, h2, h3, h4, h5, h6{
			color: initial;
			padding: 0.65em 0;
		}
		h1{
			font-size: 1.5em;
		}
		h2{
			font-size: 1.25em;
		}
		h3{
			font-size: 1.175em;
		}
		h4{
			font-size: 1.15em;
		}
		h5{
			font-size: 1.125em;
		}
		h6{
			font-size: 1em;
		}
		a{
			color: $pink;
			border-bottom: 1px dotted rgba(338,64,91,0.3);
			transition: border-bottom 0.3s;
			&:hover{
				border-bottom: 1px dotted rgba(338,64,91,1);
			}
		}
		// 預設的 table 樣式 2022/12/07 - by ossian
		table{
			margin-top: 1em;
			margin-bottom: 1em;
			width: 100%;
			border-collapse: collapse;
			tr{
				th{
					text-align: center;
					background-color: $ll-gray;
				}
				th,td{
					padding: 0.25em 0.75em;
					border:1px solid $l-gray;
				}
				&:hover{
					background-color: $lll-gray;
				}
				&:nth-child(1){
					&:hover{
						background-color: unset;
					}
				}
			}
		}
		// img 標籤的最大寬度為 100%
		img{
			max-width: 100%;
		}
		// 選擇產品 2023/11/08
		ul.games-list{
			display: grid;
			gap: 1em;
			margin: 0;
			padding: 0 0 1em 0;
			list-style: none;
			li{
				border: 1px solid $gray-2;
				border-bottom: 5px solid $pink;
				h3{
					padding: 0.5rem;
				}
			}
		}
		// swiper banner 2023/11/08
		.swiper-container{
			padding-bottom: 2em;
		}
	}
	// 儲值服務 2023/11/07
	.btns-box{
		&.gap{
        gap: 0.5em;
        .btn-style-pink,
        .btn-style-gray{
            padding: 0.5em;
            height: unset;
            line-height: 1.15;
        }
        .legal-representative-agrees{
            font-size: 0.85em;
            color: rgba(255, 255, 255, 0.65);
        }
    }
	}
	ul.payment-method{
		display: flex;
		justify-content: center;
		align-items: flex-start;
		gap: 2em;
		flex-wrap: wrap;
		margin: 0;
		padding: 0;
		list-style: none;
		>li{
			max-width: 350px;
			border: 1px solid $gray-2;
			h3,h4{
				text-align: center;
				em{
					color: $pink;
				}
			}
			h4{
				font-size: 0.85;
				color: $gray-6;
				border-top: 1px solid $gray-2;
			}
		}
	}
	.pay-content{
			padding: 0 0.5em 0.5em;
	}
	ul.pays{
		display: flex;
		flex-wrap: wrap;
		// align-items: center;
		justify-content: center;
		margin: 0;
		padding: 0 0 0.5em 0;
		list-style: none;
		li{
			width: 50%;
			text-align: center;
			border: 1px solid transparent;
			img{
				width: 90%;
				filter: grayscale(100%);
				transition: filter 0.3s;
				&:hover{
					filter: grayscale(0%);
				}
			}
		}
	}
	.content-title.center{
		padding-bottom: unset;
	}
	table.table{
		margin-top: 0;
		margin-bottom: 0;
		caption{
			padding: 0.5rem;
			// color: black;
			text-align: center;
			background-color: #f1f1f1;
			border: 1px solid #C1C1C1;
			border-bottom: unset;
			em{
				color: $pink;
			}
		}
	}
	ul.btn-group{
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 1em;
		margin: 0;
		padding: 1em 0 0 0;
		list-style: none;
		li{
			button{
				width: 100%;
			}
		}
	}
	
	dl.pay-lay{
		display: flex;
		// align-items: center;
		// justify-content: center;
		gap: 1em;
		margin: 0;
		padding: 0;
		dd{
			margin: 0;
			padding: 0;
			&:nth-child(1){
				// padding: 1em 0;
				// background-color: $gray-1;
				display: flex;
				align-items: center;
				justify-content: center;
			}
			// width: calc(50% - 1em);
		}
	}
	ul.pay-method{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 0.5em;
		margin: 0;
		padding: 0;
		list-style: none;
		li{
			box-shadow: 0 3px 3px rgba(0,0,0,0.2);
			transition: all 0.3s;
			&:hover{
				box-shadow: unset;
				transform: translateY(5px);
			}
			a{
				img{
					width: 100%;
				}
			}
		}
	}
	.right.p{
		padding: 0.5em 0 0 0;
		em{
			color: $pink;
		}
	}
	
}